img[alt*="www.freewebhostingarea.com"] {
    display: none;}
code made by Titanumnetwork, 
img[alt="Free Web Hosting"]{display:none;}
body {background-color: black;}
.neon{
	margin-top:-15px;
	background:#565656;
	-webkit-border-radius:.3em;
       -moz-border-radius:.3em;
	        border-radius:.3em;}
.neon ul {padding: 0 0 0 0px;}
.neon li{
	float:left;
	text-align:center;
	display:inline-block;
	border-right:1px solid #2c251f;
}
.neon li a{
    font-family: 'Righteous', Bold;
	color:#ffffff;
	font-size:15px;
	display:block;
	padding:5px 25px;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	-webkit-transition:all .3s;
	-ms-transition:all .3s;
	transition:all .3s;
}
.neon li a:hover{
	color:#fff;
	background:#4c2f70;}
